:root {
  --blue-sky: #2196f3;
  --main-theme: #2f303a;
  --snow: #ffffff;
  --nearly-black: #212121;
  --gray: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.container {
  width: 1200px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-padding-bottom {
  padding-bottom: 0;
}

.section-padding-top {
  padding-top: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  border-bottom-color: #ececec;
}

.flex-logo {
  display: flex;
  flex-basis: 145px;
  justify-content: flex-start;
  max-width: 145px;
  margin-right: 0px;
}

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
  list-style-type: none;
  max-width: 245px;
  margin-left: 47px;
  margin-right: 371px;
}

.flex-adress {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
}

.logo-fonts {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.logo-color {
  color: var(--blue-sky);
}

.logo-color-footer {
  color: var(--snow);
}

.nav-menu {
  color: #212121;
  display: flex;
  gap: 46px;
}
.nav-menu:focus,
.nav-menu:hover {
  color: var(--blue-sky);
}

.nav-fonts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.footer-styles {
  background: var(--main-theme);
  padding-top: 60px;
  padding-left: 15px;
  padding-bottom: 60px;
  margin-top: 0;
}

.section-one {
  background: var(--main-theme);
}

.section-team {
  background: #f5f4fa;
}

a {
  text-decoration: none;
}

.flex-lorem-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 0px;
}

.czym-list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.team-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.nav-contacts {
  color: var(--gray);
  text-decoration: none;
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--blue-sky);
}

.h1-studio {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--snow);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 106px;
  margin-bottom: 30px;
}

.btn-h1-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--snow);
  background-color: var(--blue-sky);
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 106px;
  margin-inline: 500px;
}
.h2-studio {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--nearly-black);
}
.p-h2-studio {
  font-size: 14px;
  line-height: 1.71;
  color: var(--nearly-black);
}
.h3-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--nearly-black);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-list-flex {
  border-radius: 0px 0px 4px 4px;
  background: var(--snow);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.p-h3-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--nearly-black);
  text-align: center;
  padding-top: 30px;
}

.p-h3-studio-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--nearly-black);
  text-align: center;
  padding-bottom: 30px;
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  margin-bottom: 50px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  color: var(--snow);
  background-color: var(--blue-sky);
  cursor: pointer;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}

.portfolio-list-style {
  border: 1px solid #eeeeee;
}

h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.h4-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  color: var(--nearly-black);
  margin-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.p-h4-portfolio {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  color: var(--gray);
}

.logo-fonts-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.adress {
  color: var(--snow);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.adress-two {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.adress-two:hover,
.adress-two:focus {
  color: var(--blue-sky);
}
